* {
  box-sizing: border-box;
  border: thin solid black;
}


#main{
  display: grid;
  grid-gap: 0.1em;
  grid-template-columns: repeat(auto-fill, minmax(279px, 1fr));
}

.item {
  border: 5px solid yellow;
  background-color: orange;
  text-overflow: clip;
  color: black;
  padding-left: 1em;
  padding-right: 1em;
  width: 18em;
  box-shadow: 2px 1px black;
}

.basiccc {
  margin-bottom: 0;
}

.hot {
  margin-top: 0;

}

.fuego {
  position: relative;
  background-color: black;
  width: 5em;
  text-align: center;
  left: 10.4em;
  top: 2.3em;
  color: red;
}

.f{
text-align: center;
padding-bottom: 1em;
border-bottom: 1px solid black;
}

.imagen img{
  position: relative;
  border: 5px solid yellow;
}

.imagen {
  text-align: center;
}

.wow p{
  border: 5px solid yellow;
  padding: 0.2em;

}
.espacio{}


/*
#header { grid-area: h}

#left-menu {
  grid-area: l;
}

#content {
  grid-area: c;
}

#right-menu {
  grid-area: r;
}

#footer {
  grid-area: f;
}

*/
